.text-primary{
    color: #FD6E0A;
}

.button-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}


body{
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/* nav class started  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;


}
.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.banner .profile_picture{
    width: 500px;
}

.banner-greating{
    font-size: 45px;
    color: #474747;
}
.banner-title{
    font-weight: 85px;
    font-weight: 700;
}
/* header close */

