.text-primary {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

main section{
    margin-top: 130px;
}


body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* nav class started  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;


}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile_picture {
    width: 500px;
}

.banner-greating {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-desc {
    max-width: 585px;
    color: #474747;
}

/* header close */



/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-description {
    margin-top: -10px;
}


/* skilla section css  */
#what-i-do-description {
    padding: 30px 150px;
}


.skills-container {
    display: flex;
    gap: 24px;

}

.skills {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-description {
    color: #757575;
}

/* resume section style
 */

 .resume-column-title{
    color:  #474747;
font-size: 30px;
font-weight: 700;
 }

 .resume-container{
    display: flex;
    gap: 50px;
 }

 .resume-item-description, .resume-item-institute{
    color: #757575;

 }
 .resume-item-description{
    margin-bottom: 20px;
    margin-top: 0px;
 }
 .resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
 }

 .resume-container hr{
    margin: 30px;
 }

 .download-cv{
    text-align: center;
    margin-top: 50px;
 }


 /* footer section style */

 footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin: 100px 0px 0px 0px;
    gap: 100px;
 }

 .footer-column{
    width: 50%;
 }

 .social-links a{
    margin-right: 25px;
 }

 .contact input[type="text"],input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #474747;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
 }
 

 .footer_title, .footer-desc{
    text-align: left;
 }